@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #ececec;
    --vermelho: #B20000;
    --ciano: #005C6D;
    --cianoClaro: #009BA6;
    --cianoEscuro: #00404b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html,
body {
    height: 100%;
    background: var(--branco);
}

body {
    display: flex;
    flex-direction: column;
}

.interface {
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nome-site h1 a {
    color: var(--branco);
    font-size: 32px;
    text-decoration: none;
    margin-left: 35px;
}

header {
    background: var(--vermelho);
    padding: 30px;
}

.menu nav ul li a {
    color: var(--branco);
    font-size: 18px;
    padding: 0 50px;
    text-decoration: none;
    transition: .2s;
}

.menu nav ul li {
    display: inline-block;
}

.menu nav ul {
    list-style-type: none;
}

.menu li a:hover {
    color: #2e2e2e;
    transform: scale(1.05);
}

.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    background: var(--ciano);
    color: var(--branco);
}

.formulario {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 430px;
    height: auto;
    padding: 22px;
    border-radius: 20px;
    background: var(--branco);
    color: var(--ciano);
    text-align: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

form h1 {
    font-size: 37px;
    text-align: center;
}

.mensagem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form label {
    width: 100%;
    text-align: center;
}

form label p {
    margin-bottom: 5px;
    font-size: 1em;
}

form label .input {
    background: var(--cinza);
    color: var(--ciano);
    width: 80%;
    padding: 5px 20px 5px 20px;
    height: 50px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}

.input {
    font-size: medium;
}

.verificar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.verificar input {
    margin-top: 10px;
    width: 310px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    background: var(--ciano);
    transition: 0.3s ease-in-out;
}

.verificar input:hover {
    background: var(--cianoEscuro);
    transition: 0.3s ease-in-out;
}


footer {
    background: var(--vermelho);
    padding: 15px;
    color: var(--branco);
    font-weight: 400;
    text-align: center;
    margin-top: auto;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .interface {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: flex;
        justify-content: space-around;
    }

    .txt-boas-vindas {
        text-align: center;
        padding: 20px;
        font-size: 16px;
    }

    form {
        width: 100%;
        padding: 10px;
    }

    form h1 {
        font-size: 26px;
    }
    
    .txt {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .nome-site h1 a {
        font-size: 25px;
        margin-left: 10px;
    }

    .menu nav ul {
        margin-top: 10px;
    }

    .menu nav ul li {
        margin-bottom: 5px;
    }

    .menu nav ul li a {
        font-size: 16px;
        padding: 0 15px;
    }

    .verificar input {
        width: 220px;
    }

    footer {
        padding: 10px;
        font-size: 14px;
    }
}