@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #ececec;
    --vermelho: #B20000;
    --vermelhoEscuro: #720000;
    --azul: #0298cf;
    --azulEscuro: #00698f;
    --ciano: #005C6D;
    --cianoClaro: #009BA6;
    --cianoEscuro: #00404b;
    --cianoMaisEscuro: #00272d;
    --verde: #11be11;
    --verdeEscuro: #008200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html,
body {
    height: 100%;
    background: var(--branco);
}

body {
    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tabela {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 15px;
    width: 1200px;
    height: auto;
    margin: 30px 0 30px 0;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.topo-tabela {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px 5px 15px;
}

#btn-voltar {
    background: var(--ciano);
    color: var(--branco);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#btn-voltar:hover {
    background: var(--cianoEscuro);
}

.titulo {
    text-align: left;
}

.titulo h1 {
    font-size: 35px;
    color: var(--ciano);
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.acoes {
    display: flex;
    gap: 5px;
}

.acoes a {
    text-decoration: none;
}

#editar {
    background: var(--azul);
    color: var(--branco);
    transition: 0.3s ease-in-out;
}

#editar:hover {
    background: var(--azulEscuro);
    transition: 0.3s ease-in-out;
}

#deletar {
    background: var(--vermelho);
    color: var(--branco);
    transition: 0.3s ease-in-out;
}

#deletar:hover {
    background: var(--vermelhoEscuro);
    transition: 0.3s ease-in-out;
}

.informacoes-tabela {
    display: table;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: auto;
}

.dado-tabela {
    display: flex;
}

.dado-tabela .celula {
    border: 1px var(--cinza) solid;
    text-align: left;
    width: 100%;
    padding: 8px;
}

.celula p {
    margin-left: 10px;
}

.informacoes-tabela p {
    color: var(--ciano);
    font-weight: 500;
}